$mobile: "(max-width: 321px)";
$tablet: "(max-width: 774px)";
$desktop: "(min-width: 770px) and (max-width: 1700px)";
$desktop-sm: "(min-width: 769px) and (max-width: 1024px)";
$tablet-sm: "(min-width: 320px) and (max-width: 774px)";