body {
    font-family: "Open Sans";
}

.fluid-bg-top {
    background: #64168b;
}

p {
    margin: 0;
    padding: 0;
}

h1 {
//    margin: 0;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}