.advantages {
    max-width: 940px;
    margin: 0 auto;
    margin-bottom: 105px;
    text-align: center;
    
    &__list {
        
        padding: 0;
        margin: 0;
        margin-top: 31px;
        font-size: 0;
    }
    
    &__items {
        display: inline-block;
        width: 417px;
        vertical-align: middle; // способ подходит для списков
        font-size: 15px;
        list-style: none;
        color: #2c2c2c;
    }
    
    &__img {
        float: left;
        
        & > img {
            display: block;
        }
        
        @media #{$desktop} {
            float: none;
        }
    }
    
    &__descr {
        float: left;
        display: table;
        width: 50%;
        height: 208px;
        
        @media #{$desktop} {
            float: none;
            margin: 20px auto;
        }
    }
    
    &__text {
            padding: 5px;
            display: table-cell;
            vertical-align: middle;
        }
}
    
    
