.advantages {
    max-width: 940px;
    margin: 0 auto;
    text-align: center;
    
    &__items {
        display: inline-block;
        width: 204px;
        font-size: 15px;
        list-style: none;
    }
}