.bestsellers {
    padding-top: 30px;
    background: #edece9;

    &__wrapper {
        position: relative;
        max-width: 1200px;
        min-height: 419px;
        margin: 0 auto;
    }
    
    &__img {
        float: left;
        margin-left: 52px;
        
        & > img {
            max-width: 100%;
        }
        
        @media #{$tablet} {
            float: none;
            margin-left: 0;
            text-align: center;
        }
        
//        @media #{$desktop} {
//            margin-left: 30px;
//        }
        
        @media #{$desktop-sm} {
            margin-left: 20px;
        }
    }
    
    &__descr {
        float: right;
        width: 50%;
        margin-top: 75px;
        
        @media #{$tablet} {
            float: none;
            width: auto;
            margin-top: 0;
            text-align: center;
        }
        
        @media #{$desktop-sm} {
            float: none;
            width: auto;
            padding-top: 20px;
            text-align: center;
        }
    }
    
    &__text {
        padding: 10px;
        margin-left: 41px;
        margin-top: 14px;
        font-size: 30px;
        line-height: 48px;
        
        @media #{$tablet} {
            margin-left: 0;
            font-size: 20px;
            line-height: 35px;
        }
        
        @media #{$desktop-sm} {
            font-size: 25px;
            line-height: 35px;
        }

        }
    }
