.bijouterie {
    background: #edece9;
    
    &__wrapper {
        position: relative;
        max-width: 1200px;
        min-height: 431px;
        margin: 0 auto;
    }
    
    &__img {
        float: right;
        margin-top: 83px;
        margin-right: 85px;
        
        & > img {
            max-width: 100%;
        }
        
        @media #{$tablet} {
            float: none;
            width: 100%;
            margin-right: 0;
            text-align: center;
        }
        
        @media #{$desktop-sm} {
            margin-right: 55px;
        }
    }
    
    &__descr {
        float: left;
        max-width: 685px;
        margin-top: 106px;
        margin-left: 76px;
        
        @media #{$tablet} {
            float: none;
            margin: 0 auto;
            margin-top: 30px;
            padding-top: 50px;
            text-align: center;
        }
        
        @media #{$desktop} {
            max-width: 545px;
        }
        
    }
    
    &__text {
        position: relative;
        font-size: 35px;
        
        @media #{$tablet} {
            font-size: 23px;
        }
        
        @media #{$desktop-sm} {
            font-size: 25px;
    }
        
        &--line {
            &::before {
            position: absolute;
            content: "";
            bottom: -35px;
            left: 0;
            width: 98px;
            height: 3px;
            background: url("/img/icon-title-line-color.png") no-repeat 50% 50%;
                
                @media #{$tablet} {
                    left: 50%;
                    margin-left: -49px;
                }
                
                @media #{$desktop-sm} {
                    left: 50%;
                    margin-left: -49px;
            }
        }
    }
}
    
    &__sub-text {
        margin-top: 70px;
        font-size: 22px;
    }
}