.company-offer {
    background: #300347;
    
    
    &__wrapper {
        max-width: 1150px;
        margin: 0 auto;
    }
    
    &__descr {
        font-size: 15px;
        line-height: 18px;
        text-align: center;
        color: #fff;
        
        @media #{$tablet} {
            font-size: 13px;
        }
        
        &--padding {
            &t {
                padding: 20px 0;
            }
            &b {
                padding-bottom: 30px;
            }
            &l {
                padding-left: 30px;
                &-r {
                    padding-right: 30px;
                }
            }
        }
        
        &--big {
            text-transform: uppercase;
            font-weight: bold;
        }
    }
}