.customers {
    max-width: 1100px;
    margin: 0 auto;
    
    &__top-title {
        padding-top: 63px;
    }
    
    &__list {
        margin-bottom: 69px;
    }
    
    &__items {
        position: relative;
        display: inline-block;
        margin-bottom: 45px;
        list-style: none;
        font-size: 14px;
        line-height: 21px;
        font-weight: 100;
        color: #6b6b6b;
        
        &--custom-size-1 {
            padding-left: 60px;
            padding-top: 44px;
            max-width: 680px;
            vertical-align: top;
            
            
            &::before {
                position: absolute;
                content: "";
                top: 127px;
                left: 197px;
                width: 52px;
                height: 37px;
                background: url("/img/cite-1.png") no-repeat 50% 50%;
                
                @media #{$tablet} {
                    left: 0;
                }
                
            }
            
            &::after {
                position: absolute;
                content: "";
                bottom: 111px;
                right: 4px;
                width: 52px;
                height: 37px;
                background: url("/img/cite-2.png") no-repeat 50% 50%;
                
                @media #{$tablet} {
                   bottom: -40px;
                    right: 0;
                }
            }
            
            @media #{$desktop} {
                padding-left: 0;
        }
    }
        
        &--custom-size-2 {
            padding-right: 90px;
            padding-left: 105px;
            padding-top: 25px;
            max-width: 680px;
            vertical-align: top;
            
            &::before {
                position: absolute;
                content: "";
                top: 119px;
                left: 110px;
                width: 52px;
                height: 37px;
                background: url("/img/cite-1.png") no-repeat 50% 50%;
                
                @media #{$tablet} {
                    left: 0;
                }
                
            }
            
            &::after {
                position: absolute;
                content: "";
                bottom: 96px;
                right: 165px;
                width: 52px;
                height: 37px;
                background: url("/img/cite-2.png") no-repeat 50% 50%;
                
                @media #{$tablet} {
                   bottom: -40px;
                    right: 0;
                }
            }
            
            @media #{$desktop} {
                padding-left: 0;
                padding-right: 0;
        }
    }
        
               &--custom-size-3 {
                    padding-right: 70px;
                    padding-left: 105px;
                    padding-top: 49px;
                    max-width: 680px;
                    vertical-align: top;
            
            &::before {
                    position: absolute;
                    content: "";
                    top: 130px;
                    left: 236px;
                    width: 52px;
                    height: 37px;
                    background: url("/img/cite-1.png") no-repeat 50% 50%;
                
                @media #{$tablet} {
                   left: 0;
                }
            }
            
            &::after {
                    position: absolute;
                    content: "";
                    bottom: 84px;
                    right: 46px;
                    width: 45px;
                    height: 37px;
                    background: url("/img/cite-2.png") no-repeat 50% 50%;
                
                @media #{$tablet} {
                   bottom: -40px;
                    right: 0;
                }
            }
            
            @media #{$desktop} {
                    padding-left: 0;
                    padding-right: 0;
        }
    }
}

    
    &__descr {
        display: table;
        height: 133px;
        margin-left: 103px;
        
        @media #{$tablet} {
            margin-left: 0;
        }
    }
    
    &__text {
        display: table-cell;
        max-width: 680px;
        padding-left: 60px;
        padding-right: 60px;
        vertical-align: middle;
        
        @media #{$tablet} {
            padding-left: 20px;
            padding-right: 0;
        }
}
    
    &__img {
        
        &--left-1 {
            float: left;
            margin-top: 31px;
            margin-left: 67px;
            
            @media #{$tablet} {
                float: none;
                margin-top: 0;
                margin-left: 0;
                text-align: center;
            }
    }
        
        &--left-2 {
            float: left;
            margin-top: 10px;
            margin-left: 58px;
            margin-right: 46px;
            
            @media #{$tablet} {
                float: none;
                margin-top: 0;
                margin-left: 0;
                margin-right: 0;
                text-align: center;
            }
    }
        
        &--right {
            float: right;
            margin-top: 10px;
            margin-left: 16px;
            
            @media #{$tablet} {
                float: none;
                text-align: center;
            }
        }
    }
    
}    
    
    &__name {
        display: block;
        margin-top: 30px;
        margin-bottom: 100px;
        text-align: right;
        font-size: 14px;
        line-height: 21px;
        font-weight: bold;
        color: #000;
    }

