.diploma {
    min-height: 532px;
    background: url("/img/diploma-bg.jpg") no-repeat 50% 50%;
    background-size: cover;
    
    &__title {
        padding-top: 93px;
        color: #fff;
        
        @media #{$tablet} {
            padding-top: 50px;
        }
    }
    
    &__list {
        margin-top: 23px;
        padding-bottom: 50px;
        text-align: center;
    }
    
    &__items {
        display: inline-block;
        margin-right: 20px;
        list-style: none;
        
        @media #{$tablet} {
            margin-bottom: 20px;
            margin-right: 20px;
        }
        
        @media #{$desktop} {
            margin-bottom: 20px;
            margin-right: 15px;
        }
    }
}