.form-button {
    margin: 0 auto;
    text-align: center;
    
    &__btn-input {
        padding: 15px 45px;
        margin-bottom: 3px;
        width: 275px;
        height: 55px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        font-size: 16px;
        color: #fff;
        background: #8d2275;
        text-decoration: none;
        
        @media #{$tablet} {
            width: 255px;
            text-align: center;
            padding: 0;
            font-size: 16px;
        }
        
        @media #{$mobile} {
            width: 210px;
            text-align: center;
            padding: 0;
            font-size: 14px;
        }
    }
}

.link-form {
	padding-top: 17px;
}

.link-form2 {
    padding: 16px 70px;
}