.form-button {
    margin: 0 auto;
    text-align: center;
    
    &__btn-input {
        padding: 15px 45px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        font-size: 16px;
        color: #fff;
        background: #8d2275;
    }
}