.header {
    position: relative;
        max-width: 1200px;
        min-height: 115px;
        margin: 0 auto;
        margin-top: 11px;
        margin-bottom: -2px;
        /* text-align: center; */
        
    @media #{$tablet} {
        text-align: center;
        }
    
    &__logo {
        display: inline-block;
        margin-right: 55px;
        margin-top: 11px;
        line-height: normal;
        vertical-align: middle;
        
        @media #{$tablet} {
            display: block;
            margin-right: 0;
        }
        
        @media #{$desktop} {
            margin-left: 7px;
            margin-right: 33px;
    }
}
    
    &__contacts {
        display: inline-block;
        margin-right: 55px;
        line-height: normal;
        vertical-align: middle;
        list-style: none;
        
        @media #{$tablet} {
            display: block;
            margin-right: 0;
        }
        
        @media #{$desktop} {
            margin-left: 20px;
            margin-right: 26px;
}
        @media #{$desktop-sm} {
            margin-left: 10px;
            margin-right: 10px;
}
        
        &-delivery {
            font-size: 14px;
            line-height: 22px;
            color: #969696;
        }
        
        &-hours {
            font-size: 14px;
            line-height: 12px;
            color: #969696;
        }
        
        &-phone a {
            font-size: 30px;
            line-height: 34px;
            font-weight: 600;
            text-decoration: none;
            color: #000;
        }
    }
    
    &__callback-wrapper {
        position: relative;
        display: inline-block;
        
        @media #{$tablet} {
            display: block;
        }
    }
    
    &__callback {
        position: relative;
        display: inline-block;
        margin-right: 170px;
        margin-top: 7px;
        margin-left: -9px;
        padding: 10px 10px 14px 40px;
        line-height: normal;
        vertical-align: middle;
        font-size: 14px;
        border: 1px solid #acacac;
        border-radius: 5px;
        box-sizing: border-box;
        
        @media #{$tablet} {
            margin-right: 0;
//            display: block;
        }
        
        
        
        @media #{$desktop} {
            display: inline-block;
            margin-left: 20px;
            margin-right: 169px;
}
        @media #{$desktop-sm} {
            display: inline-block;
            margin-left: 0px;
            margin-right: 15px;
}
        
        & a {
            font-size: 14px;
            text-decoration: none;
            color: #000;
        }
        
        &::before {
            position: absolute;
            content: "";
            top: 9px;
            left: 10px;
            width: 19px;
            height: 21px;
            background: url("/img/icon-photo.png") no-repeat 50% 50%;
        }
        
        
    }
    
    &__user-nav {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        
        &-number {
            padding-left: 35px;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
        }
        
        &-title a {
            text-decoration: none;
            font-size: 14px;
            line-height: 22px;
            color: #969696;
            
            @media #{$tablet} {
                font-size: 12px;
        }
            
            &:hover {
                color: #8c3088;
            }
        }
        
        & li {
            display: inline-block;
        }
        
        & li:not(:last-child) {
            margin-top: 10px;
            margin-right: 27px;
        }
    }
}

.reviews {
    position: relative;
}

.reviews::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -15px;
    width: 43px;
    height: 32px;
    background: url("/img/icon-user-nav1.png") no-repeat 50% 50%;
}

.wishes {
    position: relative;
}

.wishes::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -10px;
    width: 37px;
    height: 29px;
    background: url("/img/icon-user-nav2.png") no-repeat 50% 50%;
}

.basket {
    position: relative;
}

.basket::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -10px;
    width: 39px;
    height: 25px;
    background: url("/img/icon-user-nav3.png") no-repeat 50% 50%;
}