.header {
        max-width: 1200px;
        min-height: 115px;
        margin: 0 auto;
//        line-height: 115px;
    
    &__logo {
        display: inline-block;
        margin-right: 60px;
        line-height: normal;
        vertical-align: middle;
    }
    
    &__contacts {
        display: inline-block;
        margin-right: 55px;
        line-height: normal;
        vertical-align: middle;
        list-style: none;
        
        &-delivery {
            font-size: 14px;
            line-height: 22px;
            color: #969696;
        }
        
        &-hours {
            font-size: 14px;
            line-height: 22px;
            color: #969696;
        }
        
        &-phone a {
            font-size: 30px;
            font-weight: 600;
            text-decoration: none;
            color: #000;
        }
    }
    
    &__callback {
        position: relative;
        display: inline-block;
        margin-right: 55px;
        padding: 15px 10px 15px 40px;
        line-height: normal;
        vertical-align: middle;
        font-size: 14px;
        border: 1px solid #acacac;
        border-radius: 5px;
        
        & a {
            font-size: 14px;
            text-decoration: none;
            color: #000;
        }
        
        &::before {
            position: absolute;
            content: "";
            top: 15px;
            left: 10px;
            width: 19px;
            height: 21px;
            background: url("/img/icon-photo.png") no-repeat 50% 50%;
        }
    }
    
    &__user-nav {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
        
        &-number {
            padding-left: 35px;
            font-size: 18px;
            font-weight: 400;
            line-height: 22px;
        }
        
        &-title a {
            text-decoration: none;
            font-size: 14px;
            line-height: 22px;
            color: #969696;
            
            &:hover {
                color: #8c3088;
            }
        }
        
        & li {
            display: inline-block;
        }
        
        & li:not(:last-child) {
            margin-right: 35px;
        }
    }
}
    



.reviews {
    position: relative;
}

.reviews::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -15px;
    width: 43px;
    height: 32px;
    background: url("/img/icon-user-nav1.png") no-repeat 50% 50%;
}

.wishes {
    position: relative;
}

.wishes::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -10px;
    width: 37px;
    height: 29px;
    background: url("/img/icon-user-nav2.png") no-repeat 50% 50%;
}

.basket {
    position: relative;
}

.basket::before {
    position: absolute;
    content: "";
    top: -5px;
    left: -10px;
    width: 39px;
    height: 25px;
    background: url("/img/icon-user-nav3.png") no-repeat 50% 50%;
}