.list-form-wrapper {
    min-height: 629px;
    background: url("/img/showcase-bg.jpg") no-repeat 50% 0%;
    background-size: cover;
    
    &--bottom {
        min-height: 576px;
    }
}

// ранее этот блок назывался showcase и в нём было три других блока, которые были оформлены как элементы этого  блока. в принципе, это противоречит методологии БЭМ, где  каждый блок должен быть независимым. поэтому я решил сделать три независимых блока, которые находятся в этом блоке.