.list-form-wrapper {
    height: 658px;
    background: url("/img/showcase-bg.jpg") no-repeat 50% 0%;
    background-size: cover;
}

// ранее этот блок назывался showcase и в нём было три других блока, которые были оформлены как элементы этого  блока. в принципе, это противоречит методологии БЭМ, где  каждый блок должен быть независимым. поэтому я решил сделать три независимых блока, которые находятся в этом блоке.