.main-nav {
    position: relative;
    min-height: 48px;
    
    &__left {
    float: left;
    width: 45%;
    background-color: #64168b;
    }
    
    &__right {
    float: right;
    width: 55%;
    background-color: #000000;
    }
    
    &__items-left {
        margin-left: auto;
        max-width: 550px;
        text-align: right;
    }
    
    &__items-right {
        padding: 0;
        text-align: left;
    }
    
    
    &__link {
            padding: 17px;
            font-size: 14px;
            line-height: 21px;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
        
        &:hover {
                color: #000;
                background: #fff;
    }
        
        &--bold {
            font-size: 18px;
        }
        
        &--icon-search {
            position: relative;
        }
        
        &--icon-search::before {
            position: absolute;
            content: "";
            width: 22px;
            height: 26px;
            top: 13px;
            left: 0;
            background: url("/img/icon-search.png") no-repeat 50% 50%;
            }
    }
    
    &__item {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: inline-block;
        list-style: none;
        
        
        &--circle {
            position:relative;
            
            &::before {
            position:absolute;
            content: "";
            top: 5px;
            left: 100px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #8a29bb;    
        }
     }
        //блок модификаторов для задания отступов в меню в левой     части
        &--margin-1 {
            margin-right: 70px;
        }
        
        &--margin-2 {
            margin-right: 70px;
        }
  }
    
}


//.main-nav__left > .main-nav__item li:nth-child(1) a,
//.main-nav__left > .main-nav__item li:nth-child(2) a {
//    padding: 14px;
//    
//    line-height: 21px;
//}

//.main-nav__left > .main-nav__item:last-child li {
//    margin-left: 5px;
//}
//
//.main-nav__left > .main-nav__item li:nth-child(1) a {
//    margin-left: 28px;
//    margin-right: 65px;
//}
//
//.main-nav__left > .main-nav__item li:nth-child(2) a {
//    margin-right: 20px;
//}