.main-nav {
    position: relative;
    min-height: 48px;
    box-sizing: border-box;
    
    &__toogle {
        position: absolute;
        content: "";
        width: 50px;
        height: 50px;
        top: 5px;
        left: 0;
        background: url("/img/icon-hamburger.png") no-repeat 50% 50%;
    }
    
    &__left {
    float: left;
    width: 44%;
    background-color: #64168b;
        
       
    }
    
    &__right {
    float: right;
    width: 56%;
    background-color: #000000;
    }
    
    &__items-left {
        margin-left: auto;
        margin-top: 13px;
        margin-bottom: 13px;
        max-width: 550px;
        text-align: right;
        
         @media #{$tablet} {
//            padding-top: 10px;
//            padding-bottom: 6px;
        }
    }
    
    &__items-right {
        margin-top: 13px;
        margin-bottom: 13px;
        padding: 0;
        text-align: left;
    }
    
    
    &__link {
            padding: 13px;
            font-size: 14px;
            line-height: 21px;
            text-transform: uppercase;
            text-decoration: none;
            color: #fff;
        
        &:hover {
                color: #000;
                background: #fff;
    }
        
        &--bold {
            font-size: 18px;
        }
        
        &--icon {
            &-search {
                position: relative;
                
                &::before {
                    position: absolute;
                    content: "";
                    width: 22px;
                    height: 26px;
                    top: 13px;
                    left: 0;
                    background: url("/img/icon-search.png") no-repeat 50% 50%;
                }
        
            }
        
        }
        
        
    }
    
    &__item {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        display: inline-block;
        list-style: none;
        
        @media #{$tablet} {
            display: block;
            margin: 20px;
        }
        
        @media #{$desktop} {
            display: inline-block;
        }
        
        
        &--circle {
            position:relative;
            
            &::before {
            position:absolute;
            content: "";
            top: 5px;
            left: 91px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: #8a29bb;    
        }
     }
        //блок модификаторов для задания отступов в меню в левой     части
        &--margin-1 {
            margin-right: 58px;
            
            @media #{$tablet} {
                margin-right: 25px;
            }
        }
        
        &--margin-2 {
            margin-right: 25px;
        }
        
        &--margin-3 {
            margin-right: 21px;
        }
        
        &--wedding {
            margin-right: 8px;
        }
        
        &--watch {
            margin-right: 17px;
        }
        
        &--men {
            margin-right: 5px;
        }
        
        &--review {
            margin-right: 30px;
        }
  }
    
}


//.main-nav__left > .main-nav__item li:nth-child(1) a,
//.main-nav__left > .main-nav__item li:nth-child(2) a {
//    padding: 14px;
//    
//    line-height: 21px;
//}

//.main-nav__left > .main-nav__item:last-child li {
//    margin-left: 5px;
//}
//
//.main-nav__left > .main-nav__item li:nth-child(1) a {
//    margin-left: 28px;
//    margin-right: 65px;
//}
//
//.main-nav__left > .main-nav__item li:nth-child(2) a {
//    margin-right: 20px;
//}