.our-clients {
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 110px;
    text-align: center;
    
    &__list {
        padding: 0;
    }
    
    &__items {
        display: inline-block;
        margin: 30px 13px;
        list-style: none;
    }
    
    &__img {
        filter: grayscale(100%);
        opacity: 0.5;
        
        &:hover {
            filter: grayscale(0);
            opacity: 1;
        }
    }
}