.profit-list {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 65px;
    margin-bottom: 50px;
    text-align: center;
    padding: 0;
    
    @media  #{$tablet} {
        margin-bottom: 10px;
    }
    
    &__item {
        position: relative;
        display: inline-block;
        padding-left: 80px;
        margin-right: 40px;
        font-size: 14px;
        line-height: 18px;
        list-style: none;
                
        @media (max-width: 1140px) {
            width: 130px;
            margin: 50px;
            
            &--margin-zero {
                margin-right: 50px;
            }
        }
        
        &--bag {
            margin-left: 64px;
            margin-right: 47px;
            
            @media #{$tablet} {
                margin-left: 0;
                margin-right: 0;
            }
            
            &::before {
                position: absolute;
                content: "";
                top: -13px;
                left: 25px;
                width: 39px;
                height: 43px;
                background: url("/img/icon-profit-bag.png") no-repeat 50% 50%;
            }
        }
        
        &--scales {
            margin-right: 28px;
            
            
            @media #{$tablet} {
                margin-right: 0;
                margin-left: 0;
            }
            
            &::before {
                position: absolute;
                content: "";
                top: -13px;
                left: 25px;
                width: 42px;
                height: 43px;
                background: url("/img/icon-profit-basket.png") no-repeat 50% 50%;
            }
        }
        
        &--jeverly {
            margin-right: 21px;
            margin-left: 0;
            
            @media #{$tablet} {
                margin-right: 0;
            }
            
            &::before {
                position: absolute;
                content: "";
                top: -13px;
                left: 25px;
                width: 43px;
                height: 39px;
                background: url("/img/icon-profit-jeverly.png") no-repeat 50% 50%;
            }
        }
        
        &--man {
            margin-right: 0;
            
            @media #{$tablet} {
                margin-right: 50px;
            }
            
            @media #{$desktop} {
                margin-right: 50px;
        }
            
            &::before {
                position: absolute;
                content: "";
                top: -13px;
                left: 25px;
                width: 36px;
                height: 43px;
                background: url("/img/icon-profit-man.png") no-repeat 50% 50%;
            }
        }
    }
}