.proposition {
    background: rgba(245, 245, 245, 0.6);
    
    &__title {
        max-width: 1200px;
        margin: 0 auto;
        padding: 7px 60px 10px 10px;
        font-size: 35px;
        line-height: 48px;
        font-weight: normal;
        box-sizing: border-box;
        
        &--upper {
            text-transform: uppercase;
            font-weight: bold;
        }
        
        @media #{$desktop} {
            font-size: 25px;
        }
    }
}