.showcase {
    height: 658px;
    background: url("/img/showcase-bg.jpg") no-repeat 50% 0%;
    background-size: cover;
}

.showcase__title {
background: rgba(245, 245, 245, 0.6);
}

.showcase__title h1 {
    width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 60px;
    font-size: 35px;
    line-height: 48px;
    font-weight: normal;
    box-sizing: border-box;
}


.showcase__body {
    width: 1215px;
    margin: 0 auto;
}

.showcase__body-descr {
    float: left;
    margin-top: 199px;
    max-width: 450px;
    padding: 25px 20px 30px 13px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-sizing: border-box;
    color: #fff;
    background: #443451;
}

.showcase__body-descr p {
    margin-left: 15px;
}

.showcase__body-descr-list li {
    position: relative;
    margin-bottom: 16px;
    font-size: 14px;
    list-style: none;
}

.showcase__body-descr-list li:not(:last-child)::before {
    position: absolute;
    content: "";
    top: 5px;
    left: -25px;
    height: 12px;
    width: 12px;
    background: url("/img/icon-plus.png") no-repeat 50% 50%;
}

//FORM

.showcase__body-form {
    float: right;
    max-width: 388px;
    padding: 45px 20px 80px 20px;
    box-sizing: border-box;
    background: #fff;
}

label {
    font-size: 15px;
    line-height: 30px;
}

input {
    float: left;
}

input[type="text"] {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
}

input[type="text"]#city {
  margin-bottom: 20px;
}

input[type="tel"]#phone-number-1 {
    width: 20%;
    height: 50px;
    margin-right: 3%;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
}

input[type="tel"]#phone-number-2 {
    width: 30%;
    height: 50px;
    margin-right: 3%;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
}

input[type="tel"]#phone-number-3 {
    width: 44%;
    height: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
}

input[type="email"] {
    width: 100%;
    height: 50px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 18px;
    box-sizing: border-box;
}

input[type="submit"] {
    float: none;
    padding: 15px 45px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    background: #8d2275;
}

.showcase__form-body--center {
  width: 275px;
  height: 52px;
  text-align: center;
  margin: 0 auto;
}

.showcase__body-form h3 {
    margin: 0;
    font-size: 28px;
    text-align: center;
    text-transform: uppercase;
}

.showcase__body-form h3 i {
    text-transform: none;
}

.showcase__body-form--strikeout {
    text-decoration: line-through;
    font-weight: normal;
}

.showcase__body-form--fz {
    font-size: 20px;
}

.showcase__body-form p {
    position: relative;
    margin-bottom: 30px;
    font-size: 15px;
    line-height: 30px;
    z-index: 1;
    color: #fff;
}

.showcase__body-form p::before {
    position: absolute;
    content: "";
    top: -2px;
    left: -42px;
    width: 421px;
    height: 46px;
    background: url("/img/icon-form.png") no-repeat 50% 50%;
    z-index: -1;
}

