.swarovski-earn {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    
    &__title {
        
        padding: 100px 0;
        margin: 0;
        font-size: 35px;
        line-height: 32px;
        font-weight: normal;
        text-align: center;
        color: #2c2c2c;
    }
    
    &__items {
        display: inline-block;
        padding-top: 125px;
        margin-right: 140px;
        width: 200px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 300;
        list-style: none;
        
        &--circle {
            position: relative;
        }
        &--circle::before {
            position: absolute;
            content: "";
            width: 100px;
            height: 100px;
            top: 0;
            left: 50px;
            border: 2px solid #edece9;
            border-radius: 100%;
            }
           
            &--icon-basket {
                position: relative;
                }
            &--icon-basket::before {
                position: absolute;
                content: "";
                width: 100px;
                height: 100px;
                top: 0;
                left: 50px;
                background: url("/img/icon-earn-1.png") no-repeat 50% 50%;
                }
            &--icon-wallet {
                position: relative;
                }
            &--icon-wallet::before {
                position: absolute;
                content: "";
                width: 100px;
                height: 100px;
                top: 0;
                left: 50px;
                background: url("/img/icon-earn-2.png") no-repeat 50% 50%;
                }
            &--icon-cerificate {
                position: relative;
                margin-right: 0;
                }
            &--icon-cerificate::before {
                position: absolute;
                content: "";
                width: 100px;
                height: 100px;
                top: 0;
                left: 50px;
                background: url("/img/icon-earn-3.png") no-repeat 50% 50%;
                }
    }
}