.work-with {
    margin-top: 90px;
    background: #f6f7f6;
    
    &__title-top {
        padding-top: 45px;
        font-weight: lighter;
    }
    
    &__list {
        padding: 0;
        padding-bottom: 79px;
        margin: 0 auto;
        margin-top: 33px;
        max-width: 715px;
        text-align: center;
    }
    
    &__items {
        position: relative;
        display: inline-block;
        padding-top: 85px;
        margin-right: 70px;
        margin-bottom: 35px;
        width: 165px;
        font-size: 14px;
        line-height: 18px;
        font-weight: 600;
        list-style: none;
        vertical-align: top;
        
        &--handbag {
            margin-right: 113px;
            
            @media #{$tablet} {
                margin-right: 0;
            }
            
            &::before {
                position: absolute;
                content: "";
                top: 15px;
                left: 50%;
                margin-left: -25px;
                width: 50px;
                height: 50px;
                background: url("/img/work-with-1.png") no-repeat 50% 50%;
            }
        }
        
        &--suitcase {
            margin-right: 98px;
            
            @media #{$tablet} {
                margin-right: 0;
            }
            
            &::before {
                position: absolute;
                content: "";
                top: 15px;
                left: 50%;
                margin-left: -25px;
                width: 50px;
                height: 50px;
                background: url("/img/work-with-2.png") no-repeat 50% 50%;
            }
        }
        
        &--screen {
                margin-right: 0;
            &::before {
                position: absolute;
                content: "";
                top: 20px;
                left: 50%;
                margin-left: -25px;
                width: 50px;
                height: 50px;
                background: url("/img/work-with-3.png") no-repeat 50% 50%;
            }
        }
        
        &--star {
            margin-right: 100px;
            
            @media #{$tablet} {
                margin-right: 0;
            }
            
            &::before {
                position: absolute;
                content: "";
                top: 15px;
                left: 50%;
                margin-left: -25px;
                width: 50px;
                height: 50px;
                background: url("/img/work-with-4.png") no-repeat 50% 50%;
            }
        }
        
        &--entepr {
                margin-right: 0;
            &::before {
                position: absolute;
                content: "";
                top: 15px;
                left: 50%;
                margin-left: -25px;
                width: 50px;
                height: 50px;
                background: url("/img/work-with-5.png") no-repeat 50% 50%;
            }
        }
        
        @media #{$desktop} {
            margin: 20px;
    }
    }
}