.work-advantage {
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 0;
    
    &__top-title {
        padding-top: 66px;
        margin-bottom: 14px;
        
        @media #{$tablet} {
            padding-top: 30px;
        }
    }
    
    &__general {
        margin-top: 33px;
        padding: 0;
        text-align: center;
    }
    
    &--left {
        float: left;
        margin-top: 70px;
        margin-left: 126px;
        max-width: 380px;
        
        
        
        @media #{$desktop-sm} {
            margin-left: 60px;
        }
        
        @media #{$tablet} {
            float: none;
            margin: 0 auto;
            margin-top: 45px;
            text-align: center;
        }
    }
    
    &--right {
        float: right;
        margin-top: 72px;
        margin-right: 39px;
        max-width: 510px;
        
        @media #{$tablet} {
            float: none;
            margin: 0 auto;
            margin-top: 50px;
        }
    }
    
    &__title {
        display: block;
        margin-bottom: 45px;
        font-size: 18px;
        line-height: 18px;
        
        &--big {
            padding-left: 65px;
            font-size: 22px;
            font-weight: bold;
            text-transform: uppercase;
            color: #300347;
        }
    }
    
    &__items {
        position: relative;
        display: inline-block;
        width: 190px;
        padding-top: 80px;
        margin-right: 30px;
        font-size: 14px;
        line-height: 18px;
        list-style: none;
        text-align: center;
        vertical-align: top;
        
//        &:last-child {
//            margin-right: 0;
//        }
        
        &--libra {
            margin-right: 0;
            &::before {
                position: absolute;
                content: "";
                top: 15px;
                left: 50%;
                margin-left: -21px;
                width: 42px;
                height: 43px;
                background: url("/img/work-adv-1.png") no-repeat 50% 50%;
            }
        }
        
        &--stat {
            
            @media #{$tablet} {
                margin-right: 0;
            }
            
            &::before {
                position: absolute;
                content: "";
                top: 15px;
                left: 50%;
                margin-left: -21px;
                width: 42px;
                height: 43px;
                background: url("/img/work-adv-2.png") no-repeat 50% 50%;
            }
        }
        
        &--tested {
            margin-right: 48px;
            
            @media #{$tablet} {
                margin-right: 0;
            }
            
            &::before {
                position: absolute;
                content: "";
                top: 15px;
                left: 50%;
                margin-left: -21px;
                width: 42px;
                height: 43px;
                background: url("/img/work-adv-3.png") no-repeat 50% 50%;
            }
        }
        
        &--exist {
            
            @media #{$tablet} {
                margin-right: 0;
            }
            
            &::before {
                position: absolute;
                content: "";
                top: 15px;
                left: 50%;
                margin-left: -21px;
                width: 42px;
                height: 43px;
                background: url("/img/work-adv-4.png") no-repeat 50% 50%;
            }
        }
        
        &--crystal {
            margin-right: 3px;
            &::before {
                position: absolute;
                content: "";
                top: 15px;
                left: 50%;
                margin-left: -21px;
                width: 42px;
                height: 43px;
                background: url("/img/work-adv-5.png") no-repeat 50% 50%;
            }
        }
        
        @media #{$desktop} {
            margin: 20px;
}
    }
}

// БЛОК work-other, размер и положение задал для work-advantage__left и work-advantage--right в самом верху кода

.work-other {
    padding: 0; // установлен по умолчанию, использовать для mobile?
    
    &--padding {
        padding-left: 65px;
    }
	
    &__items {
        position: relative;
        list-style: none;
        
        &:nth-child(1) {
            margin-bottom: 12px;
        }
        
        &:nth-child(2) {
            margin-bottom: 44px;
        }
        
        &:nth-child(3) {
            margin-bottom: 15px;
        }
        
        &--marginl-1 { // использовал модификатор вместо псевдокласса для того, чтобы в след списке задать произвольный отступ по другому модификатору. в данном случае nth-child "наследуется" и и его можно изменить только через !important
            margin-bottom: 61px;
        }
        
        &:nth-child(5) {
            margin-bottom: 16px;
        }
        
        &--marginl-2 { // аналогично с --marginb-1
            margin-bottom: 66px;
        }
        
        &:nth-child(7) {
            margin-bottom: 20px;
        }
        
        &:nth-child(odd) {
            font-size: 16px;
            line-height: 18px;
        }
        
        &:nth-child(even) {
            font-size: 14px;
            line-height: 18px;
        }
        
        //БЛОК work-advantage work-advantage--right
        
        &--marginr-1 {
            margin-bottom: 41px;
        }
        
        &--marginr-2 {
            margin-bottom: 49px;
        }
        
        &--round {
            
            &::before {
            position: absolute;
            content: "";
            top: -5px;
            left: -70px;
            width: 55px;
            height: 55px;
            border-radius: 100%;
            background: #300347;
            }
        }
        
        &--prize {
            
            &::after {
                position: absolute;
                content: "";
                top: 4px;
                left: -63px;
                width: 40px;
                height: 40px;
                background: url("/img/work-icon-1.png") no-repeat 50% 50%;
            }
        }
        
        &--home {
            
            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: -63px;
                width: 40px;
                height: 40px;
                background: url("/img/work-icon-2.png") no-repeat 50% 50%;
            }
        }
        
        &--screen {
            
            &::after {
                position: absolute;
                content: "";
                top: 3px;
                left: -62px;
                width: 40px;
                height: 40px;
                background: url("/img/work-icon-3.png") no-repeat 50% 50%;
            }
        }
        
        &--cap {
            
            &::after {
                position: absolute;
                content: "";
                top: 2px;
                left: -62px;
                width: 40px;
                height: 40px;
                background: url("/img/work-icon-4.png") no-repeat 50% 50%;
            }
        }
    }
}