.ytube {
    margin: 0 auto;
	max-width: 563px;
    margin-top: 61px;
    margin-bottom: 87px;
    
    @media #{$tablet} {
        margin: 10px auto;
    }
    
    &--max-width {
        max-width: 100%
    }
}

//.fancybox-media {
//    max-width: 100%;
//    max-height: 100%;
//}